" ==========================================================================================================
"                         ================= Winter Yuan ==================
" ==========================================================================================================

" ==========================================================================================================
"                          ================= 插件列表 =====================
" ==========================================================================================================
Plug 'tpope/vim-surround'
Plug 'easymotion/vim-easymotion'

" ==========================================================================================================
"                          ================= 插件设置 =====================
" ==========================================================================================================
" easymotion
nmap ss <Plug>(easymotion-s2)

" ==========================================================================================================
"                          ================= 基础设置 =====================
" ==========================================================================================================
set clipboard+=unnamed
set number
set relativenumber	" 显示相对行号
set incsearch       " 实时开启搜索高亮
set hlsearch		" 搜索结果高亮
set smartcase           " 开启智能大小写查找
set encoding=utf-8      " Use UTF-8.
set smartcase           " 设置智能大小写
" 设置没有声音
set noerrorbells
set novisualbell
" 总是显示状态栏
"set laststatus=2

" ==========================================================================================================
"                              ============== 键位设置 ===================
" ==========================================================================================================
let mapleader=","
" 进入 normal模式
inoremap jk <Esc>
" 退出
nnoremap <leader>q :q<CR>
nnoremap <space>q :qa<CR>
" 窗口切换
noremap <C-h> <C-w>h
noremap <C-j> <C-w>j
noremap <C-k> <C-w>k
noremap <C-l> <C-w>l
" 分割窗口
noremap <leader>s <C-w>s
noremap <leader>v <C-w>v
" 跳至行尾
nnoremap ; $
" 行内删除
nnoremap dl d$
nnoremap df d^
" 去除搜索后高亮
nnoremap <space>nl :nohl<CR>

" action
nnoremap <space>r :action Run<CR>
nnoremap <space>db :action Debug<CR>
nnoremap <space>b :action ToggleLineBreakpoint<CR>
nnoremap <space>d :action GotoDeclaration<CR>
" 跳转到错误
nnoremap g[ :action GotoNextError<CR>
nnoremap g] :action GotoPreviousError<CR>
" 格式化代码
nnoremap <space>c :action ReformatCode<CR>