" ==========================================================================================================
"                         ================= Winter Yuan ==================
" ==========================================================================================================

" ==========================================================================================================
"                          ================= 插件列表 =====================
" ==========================================================================================================
Plug 'tpope/vim-surround'
Plug 'easymotion/vim-easymotion'

" ==========================================================================================================
"                          ================= 插件设置 =====================
" ==========================================================================================================
" easymotion
nmap ss <Plug>(easymotion-s2)

" ==========================================================================================================
"                          ================= 基础设置 =====================
" ==========================================================================================================
set clipboard+=unnamed
set number
set relativenumber	" 显示相对行号
set incsearch       " 实时开启搜索高亮
set hlsearch		" 搜索结果高亮
set smartcase           " 开启智能大小写查找
set encoding=utf-8      " Use UTF-8.
set smartcase           " 设置智能大小写
" 设置没有声音
set noerrorbells
set novisualbell
" 总是显示状态栏
"set laststatus=2

" ==========================================================================================================
"                              ============== 键位设置 ===================
" ==========================================================================================================
let mapleader=","
" 进入 normal模式
inoremap jk <Esc>
" 保存
inoremap <leader>w <Esc>:w<cr>
nnoremap <leader>w :w<cr>
" 退出
inoremap <leader>q <Esc>:q<CR>
nnoremap <leader>q :q<CR>
" 窗口切换
noremap <C-h> <C-w>h
noremap <C-j> <C-w>j
noremap <C-k> <C-w>k
noremap <C-l> <C-w>l
" 跳至行尾
nnoremap ; $
" 行内删除
nnoremap dl d$
nnoremap df d^

" action
noremap <leader>r :action Run<CR>
noremap <leader>dd :action Debug<CR>
noremap <leader>b :action ToggleLineBreakpoint<CR>
noremap <leader>d :action GotoDeclaration<CR>