zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions --fpath src
zmodule zsh-users/zsh-syntax-highlighting

zmodule zimfw/git
zmodule zimfw/pacman

zmodule romkatv/powerlevel10k
zmodule rupa/z
