configuration {
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
//@theme "/home/winter/.config/rofi/themes/rounded-nord-dark.rasi"
@theme "/home/winter/.config/rofi/themes/rounded-nord-dark.rasi"
