configuration {
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "/home/winter/.local/share/rofi/themes/rounded-nord-dark.rasi"
